{% extends "base.html" %}
{% block content %}
{% load static %}
<link rel="stylesheet" href="{% static "login.css" %}" />
<div class="login-box">
  <h2>비밀번호 변경하기</h2>
    <form action="{% url "common:changepassword" %}" method="post">
        {% csrf_token %}
        {% if messages %}
        <div>
            {% for message in messages %}
                {{ message.tags }}! {{ message.message }}
            {% endfor %}
        </div>
        {% endif %}
        {% include "form_errors.html" %}
        <p>
            <label for="id_old_password">기존 비밀번호: </label>
            <input type="password" name="old_password" autocomplete="current-password"
            autofocus required id="id_old_password">
        </p>
        <p>
            <label for="id_new_password1">새 비밀번호: </label>
            <input type="password" name="new_password1" autocomplete="new-password"
            required id="id_new_password1">
            <span class="helptext"></span>
        </p>
        <p>
            <label for="id_new_password2">새 비밀번호 (확인):</label>
            <input type="password" name="new_password2" autocomplete="new-password"
            required id="id_new_password2">
        </p>
        <br>
        <button type="submit" class="btn btn-primary"><span>수정하기</span></button>
    </form>
  
</div> 
{% endblock content %}


{% comment %} {% extends "base.html" %}
{% block content %}
<br>
<h1>비밀번호 변경하기</h1>
<br>
<form action="{% url "common:changepassword" %}" method="post">
    {% csrf_token %}
    {% if messages %}
    <div>
        {% for message in messages %}
            {{ message.tags }}! {{ message.message }}
        {% endfor %}
    </div>
    {% endif %}
    {% include "form_errors.html" %}
    <p>
        <label for="id_old_password">기존 비밀번호: </label>
        <input type="password" name="old_password" autocomplete="current-password"
        autofocus required id="id_old_password">
    </p>
    <p>
        <label for="id_new_password1">새 비밀번호: </label>
        <input type="password" name="new_password1" autocomplete="new-password"
        required id="id_new_password1">
        <span class="helptext"></span>
    </p>
    <p>
        <label for="id_new_password2">새 비밀번호 (확인):</label>
        <input type="password" name="new_password2" autocomplete="new-password"
        required id="id_new_password2">
    </p>
    <br>
    <button type="submit" class="btn btn-primary">수정하기</button>
</form>
{% endblock content %} {% endcomment %}