{% load static %}
<link rel="stylesheet" href="{% static "login.css" %}" />
<div class="login-box">
  <h2>Sign Up</h2>
  <form action="{% url "common:signup" %}" method="post">
    {% csrf_token %}
    {% include "form_errors.html" %}
      <div class="user-box">
        <input type="text" name="user_id" id="user_id" required="" class="form-control" 
                  value="{{form.user_id.value|default_if_none:""}}">
        <label>Username(e-mail)</label>
      </div>

      <div class="user-box">
        <input type="password" name="password1" id="password1" required="" class="form-control" autocomplete="new-password"
                  value="{{form.password1.value|default_if_none:""}}">
        <label>Password</label>
      </div>

      <div class="user-box">
        <input type="password" name="password2" id="password2" required="" class="form-control"
                  value="{{form.password2.value|default_if_none:""}}">
        <label>Password Confirm</label>
      </div>   

      <div class="user-box">
          <input type="date" name="birth_date" id="birth_date" class="form-control"
              value="{{form.birth_date.value|default_if_none:""}}">
          <label for="birth_date">birth_date</label>
      </div>
      
      <div class="selectdiv">
          <select name="address" id="address" class="form-control">
            <option value="">Select Address</option>
            <option value="서울">서울</option>
            <option value="부산">부산</option>
            <option value="대구">대구</option>
            <option value="인천">인천</option>
            <option value="광주">광주</option>
            <option value="대전">대전</option>
            <option value="울산">울산</option>
            <option value="세종">세종</option>
            <option value="경기">경기</option>
            <option value="강원">강원</option>
            <option value="충북">충북</option>
            <option value="충남">충남</option>
            <option value="전북">전북</option>
            <option value="전남">전남</option>
            <option value="경북">경북</option>
            <option value="경남">경남</option>
            <option value="제주">제주</option>
          </select>
      </div>
      
      <br>
      <br>
      <div class ="selectdiv">
        <select name="gender" id="gender" class="form-control">
            <option value="">Select Gender</option>
            <option value="1">남성</option>
            <option value="2">여성</option>
        </select>
      </div>  
      <br>
      <br>
      <br>
      <br>
      <button type="submit" class="btn btn-primary"><span>Create</span></button>
  </form>
  <p style="color:#fff"><font size=2.5>Do you already have an ID?</font>   <a href="{% url "common:login" %}"><u><strong>Log In</strong></u></a></p>

</div> 